package repo

import (
	// INJECT IMPORTS
	"context"
        "{{.BasePath}}/db"
)

type {{.DomainName}}RepoInterface interface {
	// INJECT INTERFACE
}

type {{.DomainName}}Repo struct {
	store        db.Store
	errorHandler map[string]string
}

func New{{.DomainName}}Repo(store db.Store) {{.DomainName}}RepoInterface {
	errorHandler := map[string]string{
	// INJECT ERROR
	}
	return &{{.DomainName}}Repo{
		store:        store,
		errorHandler: errorHandler,
	}
}
