{{if not .IsEmptyRequest}}
func (a *{{.DomainName}}Adapter) {{.EndpointName}}SqlFromGrpc(req *{{.ApiRequestType}}) *{{.RepoRequestType}} {
	return &db.{{.EndpointName}}Params{
	}
}
{{end}}

{{if not .IsEmptyResponse}}
func (a *{{.DomainName}}Adapter) {{.EndpointName}}GrpcFromSql(req {{.RepoReturnTypeActual}}) *{{.ApiReturnType}} {
	return &{{.ApiReturnType}}{
	}

}
{{end}}
