
func (u *{{.DomainName}}Usecase) {{.EndpointName}}(ctx context.Context{{if not .IsEmptyRequest}}, req {{.ApiRequestType}}{{end}}) ({{if .IsEmptyResponse}}error{{else}}*{{.ApiReturnType}}, error{{end}}) {
	{{if not .IsEmptyRequest}}
	params, err := u.adapter.{{.EndpointName}}SqlFromGrpc(record)
		if err != nil {
			return nil, err
		}
	{{end}}
	{{if .IsEmptyRequest}}
	record, err := u.repo.{{.EndpointName}}(ctx)
	{{else}}
	record, err := u.repo.{{.EndpointName}}(ctx, sqlReq)
	{{end}}
	if err != nil {
		return {{if not .IsEmptyResponse}}nil, {{end}}err
	}
	{{if .IsEmptyResponse}}
	return nil
	{{else}}

	resp, err := u.adapter.{{.EndpointName}}GrpcFromSql(record)
	if err != nil {
		return nil, err
	}
	return resp, nil
	{{end}}
}


