{{if not .IsEmptyRequest}}
{{.EndpointName}}SqlFromGrpc(req {{.ApiRequestType}}) {{.RepoRequestType}}
{{end}}

{{if not .IsEmptyResponse}}
{{.EndpointName}}GrpcFromSql(req {{.RepoReturnType}}) *{{.ApiReturnType}}
{{end}}
