
func (u *{{.DomainName}}Usecase) {{.EndpointName}}(ctx context.Context, req *{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Request) (*{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Response, error) {
	req, err := u.adapter.{{.EndpointName}}SqlFromGrpc(record)
	if err != nil {
		return nil, err
	}
	record, err := u.repo.{{.EndpointName}}(ctx , req)
	if err != nil {
		return nil, err
	}
	resp, err := u.adapter.{{.EndpointName}}GrpcFromSql(record)
	if err != nil {
		return nil, err
	}
	return resp, nil
}


