func (repo *{{.DomainName}}Repo) {{.EndpointName}}(ctx context.Context{{if not .IsEmptyRequest}}, req *{{.RepoRequestType}}{{end}}) {{if .IsEmptyResponse}}error{{else}}{{.RepoReturnTypeWithError}}{{end}} {
	{{if .IsEmptyRequest}}
	resp, err := repo.store.{{.EndpointName}}(ctx)
	{{else}}
	resp, err := repo.store.{{.EndpointName}}(ctx, *req)
	{{end}}
	if err != nil {
		return  {{if not .IsEmptyResponse}}nil, {{end}}repo.store.DbErrorParser(err, repo.errorHandler)
	}
	return {{if not .IsEmptyResponse}}&resp, {{end}} nil
}
