func (api *Api) {{.EndpointName}}(ctx context.Context, req *connect.Request[{{.ApiRequestType}}]) (*connect.Response[{{.ApiReturnType}}], error) {
	resp, err := api.{{.DomainNameLower}}Usecase.{{.EndpointName}}(ctx, req)
	if err != nil {
	     return nil, err
	}
	return connect.NewResponse(resp), nil
}

