
func (u *{{.DomainName}}Usecase) {{.EndpointName}}(ctx context.Context, req *connect.Request[{{.ApiRequestType}}]) (*{{.ApiReturnType}}, error) {
	{{if .IsEmptyRequest}}
	record, err := u.repo.{{.EndpointName}}(ctx)
	{{else}}
	sqlReq := u.adapter.{{.EndpointName}}SqlFromGrpc(req.Msg)
	record, err := u.repo.{{.EndpointName}}(ctx, sqlReq)
	{{end}}
	if err != nil {
		return {{if not .IsEmptyResponse}}nil, {{end}}err
	}
	{{if .IsEmptyResponse}}
	return &{{.ApuReturnType}} , nil
	{{else}}
	resp := u.adapter.{{.EndpointName}}GrpcFromSql(record)
	return resp, nil
	{{end}}
}


