{{.EndpointName}}GrpcFromSql(resp {{.RepoReturnType}}) *{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Response 
{{.EndpointName}}SqlFromGrpc(req *{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Request) *db.{{.EndpointName}}Params 
