func (a *PublicAdapter) {{.EndpointName}}SqlFromGrpc(req *{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Request) *db.{{.EndpointName}}Params {
	return &db.{{.EndpointName}}Params{
	}
}



func (a *PublicAdapter) {{.EndpointName}}GrpcFromSql(resp {{.RepoReturnType}}) *{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Response {
	return &{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Response{
	}

}
