package adapter

import (
        "{{.BasePath}}/db"
        "{{.BasePath}}/proto_gen/{{.ApiServiceName}}/{{.ApiVersion}}"
)

type {{.DomainName}}AdapterInterface interface {
        // INJECT INTERFACE
}

type {{.DomainName}}Adapter struct {
}

func New{{.DomainName}}Adapter() {{.DomainName}}AdapterInterface {
        return &{{.DomainName}}Adapter{}
}
