

func (api *Api) {{.EndpointName}}(ctx context.Context, req *connect.Request[{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Request]) (*connect.Response[{{.ApiServiceName}}{{.ApiVersion}}.{{.EndpointName}}Response], error) {
	if err := ctx.Err(); err != nil {
		return nil, connect.NewError(connect.CodeInternal, err)
	}
	err := api.validator.Validate(req.Msg)
	if err != nil {
		return nil, connect.NewError(connect.CodeInvalidArgument, err)
	}

	resp, err := api.{{.FeatureNameLower}}Usecase.{{.EndpointName}}(ctx, req.Msg)
	if err != nil {
		return nil, err
	}
	return connect.NewResponse(resp), nil
}


